@import "@styles/mixins.scss";

.home{
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    &__text{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        color: var(--text-color);
        font-weight: 700;

        &-title{
            @include fluid-text(28, 64); 
        }

        &-subtitle{
            @include fluid-text(18, 40);
        }
    }

    &__button{
        margin-top: 32px;
        padding: 16px 24px;
        background-color: var(--blue);
        border-radius: 8px;
        color: #fff;
    }

    &__image{
        margin-top: 32px;
    }
}